<section class="main-section">
  <h1 class="mt-3">Part 3: Listening</h1>
  <p>This part of the test consists of questions that are based on audio or video clips. Each audio or video clip is
    heard only once and notes can be taken.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Section</th>
        <th>Item type</th>
        <th>Time Allowed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Section 1</td>
        <td><a href="" routerLink="/summarize-spoken-text">2 or 3 Summarize spoken text</a></td>
        <td>20 or 30 minutes</td>
      </tr>
      <tr>
        <td rowspan="7">Section 2</td>
        <td><a href="" routerLink="/listening-mc-answers">Multiple-choice, choose multiple answers</a></td>
        <td rowspan="7">22-28 minutes</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/listening-fill-blanks">Fill in the blanks</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/highlight-correct-summary">Highlight correct summary</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/listening-mc-single-answer">Multiple-choice, choose single answer</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/select-missing-word">Select missing word</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/highlight-incorrect-words">Highlight incorrect words</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/write-from-dictation">Write from dictation</a></td>
      </tr>
    </tbody>
  </table>
</section>