<section class="main-section">
  <h1 class="mt-3">Part 2: Reading</h1>
  <p>The item types included in this part of the test are.</p>
    <table class="table">
      <thead>
        <tr>
          <th>Item type</th>
          <th>Time Allowed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="" routerLink="/mc-single-answer">Multiple-choice, choose single answer</a></td>
          <td rowspan="5">32-41 minutes</td>
        </tr>
        <tr>
          <td><a href="" routerLink="/mc-multiple-answers">Multiple-choice, choose multiple answers</a></td>
        </tr>
        <tr>
          <td><a href="" routerLink="/reorder-paragraphs">Re-order paragraphs</a></td>
        </tr>
        <tr>
          <td><a href="" routerLink="/reading-fill-blanks">Reading: Fill in the blanks</a></td>
        </tr>
        <tr>
          <td><a href="" routerLink="/rw-fill-blanks">Reading and writing: Fill in the blanks</a></td>
        </tr>
      </tbody>
    </table>
</section>