<section class="main-section">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ad-unit-1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1899131341714198"
         data-ad-slot="5427942260"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  <h4 class="mt-3">Look at the text below. In 40 seconds, you must read this text aloud as naturally and clearly as
    possible.
    You have 40 seconds to read aloud.</h4>
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="test1-tab" data-toggle="tab" href="#test1" role="tab" aria-controls="test1"
        aria-selected="true">Test
        1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test2-tab" data-toggle="tab" href="#test2" role="tab" aria-controls="test2" aria-selected="false">Test
        2
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test3-tab" data-toggle="tab" href="#test3" role="tab" aria-controls="test3" aria-selected="false">Test
        3
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test4-tab" data-toggle="tab" href="#test4" role="tab" aria-controls="test4" aria-selected="false">Test
        4
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test5-tab" data-toggle="tab" href="#test5" role="tab" aria-controls="test5" aria-selected="false">Test
        5
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test6-tab" data-toggle="tab" href="#test6" role="tab" aria-controls="test6" aria-selected="false">Test
        6
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pt-3" id="test1" role="tabpanel" aria-labelledby="test1">
      <p>Once most animals reach adulthood, they stop growing In contrast, even plants that are thousands of years old
        continue
        to grow new needless, add new wood, and produce cones and new flowers, almost as if parts of their bodies
        remained
        "forever young". The secrets of plant growth are regions of tissue that can produce cells that later develop
        into specialized
        tissues.
      </p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_ Item 1/Sample_response_Read_aloud_Item_1_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_ Item 1/Sample_response_Read_aloud_Item_1_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_ Item 1/Sample_response_Read_aloud_Item_1_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <p>Analysts were impressed by the improvement in margins reported across all regions, apart from the United
        Kingdom,
        and said that this reflected a clear effort to improve profitability across the business. Although the
        turnaround is
        still in its early stages and the valuation looks full, given the challenge of turning around such a large and
        complex
        business, this is certainly an impressive start.</p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 2/Sample_response_Read_aloud_Item_2_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 2/Sample_response_Read_aloud_Item_2_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 2/Sample_response_Read_aloud_Item_2_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test3" role="tabpanel" aria-labelledby="test3">
      <p>The development of easy-to-use statistical software has changed the way statistics is being taught and learned
        Students
        can make transformations of variables, create graphs of distributions of variables, and select among
        statistical analyses
        all at the click of a button. However, even with these advancements, students sometimes still find statistics
        to be
        an arduous task.
      </p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 3/Sample_response_Read_aloud_Item_3_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 3/Sample_response_Read_aloud_Item_3_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 3/Sample_response_Read_aloud_Item_3_C1 response.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test4" role="tabpanel" aria-labelledby="test4">
      <p>In 2005, donor countries agreed on an accord to harmonize their practices. Since then, aid officials have
        complained
        that too little has changed on the ground. Conferences of donors in developing countries still tend to be
        dominated
        by a small group of north European governments, with the US often absent.
      </p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 4/Sample_response_Read_aloud_Item_4_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 4/Sample_response_Read_aloud_Item_4_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 4/Sample_response_Read_aloud_Item_4_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test5" role="tabpanel" aria-labelledby="test5">
      <p>The climate for doing business improved in Egypt more than in any other country last year, according to a
        global study
        that revealed a wave of company-oriented reforms across the Middle East. The World Bank rankings, which look at
        business
        regulations, also showed that the pace of business reforms in Eastern Europe was overtaking East Asia.</p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 5/Sample_response_Read_aloud_Item_5_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 5/Sample_response_Read_aloud_Item_5_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 5/Sample_response_Read_aloud_Item_ 5_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test6" role="tabpanel" aria-labelledby="test6">
      <p>In a genuine republic, the will of the government is dependent on the will of the society, and the will of the
        society
        is dependent on the reason of the society. In Federalist 51, for example, James Madison claimed that the extent
        and
        structure of the government of the United States make it dependent on the will of the society.</p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 6/Sample_response_Read_aloud_Item_6_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 6/Sample_response_Read_aloud_Item_6_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 6/Sample_response_Read_aloud_Item_6_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>