<section class="main-section">
  <h1 class="mt-3">Writing</h1>
  <p>Writing sections 3-6 contain a number of individually-timed items. Test takers are required to write two summaries
    and
    one essay OR three summaries and one essay OR two summaries and two essays.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Section</th>
        <th>Item type</th>
        <th>Time Allowed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sections 3-4</td>
        <td><a href="" routerLink="/summarize-written-text">2 * Summarize written text</a></td>
        <td>20 minutes</td>
      </tr>
      <tr>
        <td>Section 5</td>
        <td>Summarize written text OR Write essay</td>
        <td>10 or 20 minutes</td>
      </tr>
      <tr>
        <td>Section 6</td>
        <td><a href="" routerLink="/write-assay">Write Assay</a></td>
        <td>20 minutes</td>
      </tr>
    </tbody>
  </table>
</section>