<section class="main-section">
  <h1 class="mt-3">Speaking</h1>
  <p>This part of the test consists of some questions where an audio is listened to and then a spoken response given.
    In the
    actual PTE Academic test a personal introduction is given, but this is not included in this practice test.</p>
    <table class="table">
      <thead>
        <tr>
          <th>Section</th>
          <th>Item type</th>
          <th>Time Allowed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Section 1</td>
          <td>Personal introduction</td>
          <td>1 minute</td>
        </tr>
        <tr>
          <td rowspan="5">Section 2</td>
          <td><a href="" routerLink="/read-aloud">Read aloud</a></td>
          <td rowspan="5">30-35 minutes</td>
        </tr>
        <tr>
          <td><a href="" routerLink="/repeat-sentence">Repeat Sentence</a></td>
        </tr>
        <tr>
          <td><a href="" routerLink="/describe-image">Describe Image</a></td>
        </tr>
        <tr>
          <td><a href="" routerLink="/retell-lecture">Re-tell Lecture</a></td>
        </tr>
        <tr>
          <td><a href="" routerLink="/answer-short-questions">Answer short questions</a></td>
        </tr>
      </tbody>
    </table>
</section>